@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;

  --font-inter: "Inter", system-ui, sans-serif;

 --color-verde-selecao: #E1E1E1;

  --azul-100: #35ADDC;
  --azul-200: #206784;
  --azul-300: #0C2A33;

  --amarelo-100: #F5B700;
  --amarelo-200: #9D7600;
  --amarelo-300: #463400;

  --preto-100: #E1E1E1;
  --preto-200: #898989;
  --preto-300: #343434;

  --verde-100: #0FF25E;
  --verde-200: #099B3C;
  --verde-300: #040F0F;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
